node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.babel.config.js
.eas.json
.package.json
.package-lock.json
.tsconfig.json
.app.json